body{
    margin: 0px;
    padding: 0px;

    background-color: rgb(9, 9, 37);

    height : 100vh;

    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.Section{

    height:100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    line-height: 91%;
}

.Navbar{
    flex-direction: row;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 51px;
    z-index: 3;
    left: 0px;
    top: 0px;
}

.Navbar-Links{
    position: absolute;
    right: 0px;
}

.Navbar p{
    margin-left: 51px;
    font-size: larger;
}

.Navbar-Links{
    right: 25px;
}

.Navbar-Links *{
    background-color: transparent;
    text-align: center;
    border: none;
    height: 51px;
    padding-right: 13px;
    padding-left: 13px;
    transition: all 0.19s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Navbar-Links *:hover{
    color:rgb(201, 198, 228)
}

.Navbar *{
    color:white;
}

.code-style{
    color: rgb(148, 148, 212);
    text-decoration: none;
    font-weight: bold;
}

.Bg-Filter{
    background-color: rgba(0, 0, 0, 0.009);
    backdrop-filter: blur(100px);
    position: absolute;
    height:100vh;
    width: 100vw;
    z-index: 0;
    left:0px;
    top: 0px;
}

.Light{
    background-color:rgb(92, 115, 136);
    position: absolute;
    aspect-ratio: 1/1;
    height: auto;
    opacity: 51%;
    width: 19vw;
    z-index: -1;
}

.Content{
    z-index: 3;
}

.Content-Row{
    flex-direction: row;
}

.Content-Row *{
    margin: 31px;
}

*[FloatAnimation]{
    animation-name: Float;
    animation-duration: 3s;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;
}

@keyframes Float {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}

*{
    font-family : "Montserrat" , sans-serif ;
    color : rgb(201, 198, 228);
    user-select: none;
}