body{
    margin: 0px;
    padding: 0px;

    background-color: rgb(9, 9, 37);

    display: flex;

    justify-content: center;
    align-items: center;

    height : 100%;
}

*{
    font : "Montserrat" ;
    color : rgb(201, 198, 228);
}